# --- Core ---
fastapi
uvicorn[standard]
pydantic
pydantic-settings

# --- OpenAI ---
openai

# --- Vector DB ---
#pinecone-client
pinecone

# --- Database ---
aiosqlite
sqlalchemy

# Twilio WhatsApp Integration
twilio

# --- Utils ---
python-dotenv
python-multipart
tenacity
typing-extensions

# --- Logging ---
structlog

# --- LangGraph + LangChain ---
langgraph
langchain
langchain-openai
langchain-community

# --- HTTP ---
requests
httpx


#Configurar webhook para whatsapp
#brew install ngrok 
#ngrok config add-authtoken token
#ngrok http 8000
#Forwarding  https://abc123def.ngrok.io -> http://localhost:8000
#https://abc123def.ngrok.io/webhook
